.country {
    border: 1px solid orange;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    min-width: 200px;
}

.country-item {
    border-bottom: 1px solid orange;
}

.country-item:last-child {
    border-bottom: 0;
}

.country-text {
    display: block;
    background: orange;
    color: white;
    padding: 6px 10px;
}

.country-sub {
    padding: 0;
    margin: 0;
    list-style: none
}

.country-sub-item {
    padding: 6px 10px;
    border: 1px solid orange;
}